@{
    ViewBag.Subtitle = "Utilizadors";
}
@model IQueryable<UserModel>

<div class="container">
    <h1 class="text-primary">Utilizadores</h1>
    <hr>
    <a href="/Home/Register" class="btn btn-primary">Novo Utilizador</a>

    @if (TempData.ContainsKey("Deleted"))
    {
        var deleted = (bool)TempData["Deleted"];

        if (deleted)
        {
            <partial name="_MsgInfo" model="@("Utilizador apagado com sucesso!")"></partial>
        }
        else
        {
            <partial name="_MsgError" model="@("Não foi possível apagar o Utilizador!")"></partial>
        }
    }
    <table class="table mt-2">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <td>@u.Name</td>
                    <td>@u.Email</td>
                    <td>
                        <a asp-action="Register" asp-route-id="@u.Id"
                           class="btn btn-sm btn-secondary">Atualizar</a>
                        <a asp-action="Delete" asp-route-id="@u.Id"
                           class="btn btn-sm btn-danger">Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>